<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Hurricane</title>
</head>
<body>

<form action="/edit-hurricane" method="post">
    <input type="text" placeholder="New Name" name="hName"/>
    <input type="text" placeholder="New Location" name="hLocation"/>
    <select name="hCat">
        <option selected disabled>Category</option>
        <option value="ONE">1</option>
        <option value="TWO">2</option>
        <option value="THREE">3</option>
        <option value="FOUR">4</option>
        <option value="FIVE">5</option>
    </select>
    <input type="text" placeholder="New Image URL" name="hImage" width="200"/>
    <button type="submit">Update Hurricane</button>
</form>

</body>
</html>